.App {
  text-align: center;
}

#myClosetContentDiv {
  width: 30%;
  height: 60%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px;
}

.inputCaption {
  display: inline-block;
}

.inputField {
  width: 80%;
  height: 30px;
}
