.App {
  text-align: center;
  background-color: lavender;
}
html, body, #app, #app>div {
  height: 100%
}

#headerComponentContainer {	
  border: 1px;	
  display: inline-block;	
}	

#nameOfAppDiv {	
  text-align: left;	
  height: 1%;	
  width: 20%;	
  margin-top: 1%;	
  margin-bottom: 1%;	
  display: inline-block;	
}	


#navbarContainer {	
  /* border: solid 1px;	 */
  display: inline-block;	
  width: 70%;	
  height: 50%;	
  margin-left: 2%;
  margin-top: 0rem
}	

.HeaderNavElements {	
  display: inline-block;	
  text-align: center;	
  width: 15%;	
}	

#ClothingChecklistHeaderTag {	
  text-align: center;  
  color: navy;
}

#clothingCheckListHeaderDiv {
  border-radius: 25px;
}

.inputCaption {
  display: inline-block;
}
.eachFabricTypeDiv {
  border: solid
}


.mission-statement{
  width: 75%;
  margin:auto;
  height: 100vh;
  font-size: larger;
}
