#headerComponentContainer {
    border: solid 1px;
    display: inline-block;
    width: 100%;
  }
  
  #nameOfAppDiv {
    text-align: left;
    height: 1%;
    width: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-block;
  }
  
  #nameOfAppHeaderTag {
    text-align: center;
  }
  
  #navbarContainer {
    /* border: solid 1px; */
    display: inline-block;
    width: 70%;
    height: 50%;
    margin-left: 2%;
    /* background-color: black; */
    /* color:white; */

    
  }

  .HeaderNavElements {
  width: 16.5%;
  color:rgb(7, 7, 7);
}

.HeaderNavElements:hover{
  color: rgb(15, 199, 15);
}
/* .HeaderNavElements q:hover{
  color: white;
}
.HeaderNavElements a:visited{
  color:white;
}
.HeaderNavElements a:active{
  color:white;
} */