#headerComponentContainer {
    display: inline-block;
    width: 100%;
    background-color:palevioletred;     
  }
  
  
  #nameOfAppDiv {
    text-align: left;
    height: 1%;
    width: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-block;
  }
  

  .HeaderNavElements {
  width: 16.5%;
}
