#login-box{
    width: 30%;
    height: 60%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  #login-title{
    font-family: 'Questrial';
  }

  .input{
    color: black;
    font-family: 'Asap' ;
  }

  .name-of-app a{
    font-family: 'Questrial';
    text-decoration: none;
  }
  ::placeholder {
    color: black;
    margin-left: 40px;
    /* margin-right:auto; */
  }