.main{
    padding-top: 10px;  
    padding-left: 20%; 
   
}

.ShopsHeading{
    font-family: 'Questrial';
    color:green;
}

p{
    font-family: 'Asap' ;
}

a{
    font-family: 'Asap' ;
    text-decoration: none;

}



