#headerComponentContainer {
    display: inline-block;
    width: 100%;
    background-color:palevioletred;     
  }
  
  #nameOfAppDiv {
    text-align: left;
    height: 1%;
    width: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-block;
  }
  .logo {
    width: 250px
  }
.HeaderNavElements {
  width: 16.5%;
  height: 100%;
  color: floralwhite;
  margin-bottom: 0%
}
.HeaderNavElements:hover {
  background-color: rgb(229, 145, 175);
  margin-bottom: 0%;
  height: 100%;
}