.ItemUploadInputs {
    margin-left: 2%;
}

#colorChoiceInput {
    border-radius: 25px;
    height: 23px;
    width: 20%;
    display: inline-block;
}

#example {
    width: 100%;
    background-color: blue;
}

#demo-controlled-open-select {
    display: inline-block;
}