.ItemUploadRender {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
}

#ItemUploadRenderButton {
    margin-right: auto;
    margin-left: auto;
}

#ItemUploadRenderFileUpload {
    margin-left: 22%;;
}